In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv(r"C:\Users\Smti\Downloads\employee_sample_4rows.csv")

In [6]:
df.head()

,satisfaction_level,last_evaluation,avg_monthly_hours,time_spent_company,work_accidents,left,promotion_last_5_years,dept,salary
0,0.85,0.78,180,3,0,0,0,Sales,medium
1,0.40,0.50,240,5,1,1,0,Technical,low
2,0.66,0.88,150,2,0,0,1,HR,high
3,0.30,0.45,200,6,1,1,0,Support,low

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   satisfaction_level      4 non-null      float64
 1   last_evaluation         4 non-null      float64
 2   avg_monthly_hours       4 non-null      int64
 3   time_spent_company      4 non-null      int64
 4   work_accidents          4 non-null      int64
 5   left                    4 non-null      int64
 6   promotion_last_5_years  4 non-null      int64
 7   dept                    4 non-null      object
 8   salary                  4 non-null      object
dtypes: float64(2), int64(5), object(2)
memory usage: 420.0+ bytes

In [9]:
 df.shape

(4, 9)

In [10]:
df["dept"].value_counts()

dept
Sales        1
Technical    1
HR           1
Support      1
Name: count, dtype: int64

In [11]:
df["salary"].value_counts()

salary
low       2
medium    1
high      1
Name: count, dtype: int64

In [12]:
df.isna().sum()

satisfaction_level        0
last_evaluation           0
avg_monthly_hours         0
time_spent_company        0
work_accidents            0
left                      0
promotion_last_5_years    0
dept                      0
salary                    0
dtype: int64

In [13]:
df.duplicated().sum()

np.int64(0)

In [16]:
df.drop_duplicates(inplace = True)